<% layout("/layouts/boilerplate") %>

  <body>
    <h3>Popular Jobs</h3> 
    <div class="cards  row row-cols-lg-4 row-cols-md-2 row-cols-sm-1">
      <% for(let listing of allListings) {%>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= listing.role %></h5>
            <h6 class="card-subtitle mb-2 text-body-secondary"><%= listing.company %></h6>
            <div class="info">
              <ul class="list-group list-group-flush">
                  <li class="list-group-item list-items"><i class="fa-regular fa-clock icons" ></i><%= listing.duration %></li>
                  <li class="list-group-item list-items"><i class="fa-solid fa-yen-sign icons"></i><%= listing.salary.toLocaleString("ja-JP") %> /month</li>
                  <li class="list-group-item list-items"><i class="fa-solid fa-location-dot icons"></i><%= listing.location %></li>
              </ul>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </body>

  <!-- <i class="fa-solid fa-indian-rupee-sign icons"> -->